@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        .calander {
            font-family: Verdana, sans-serif !important;
        }

        .month {
            padding: 50px 25px;
            width: 100%;
            background: #ab3587;
            text-align: center;
        }

            .month ul {
                margin: 0;
                padding: 0;
            }

                .month ul li {
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

            .month .prev {
                float: left;
                padding-top: 10px;
            }

            .month .next {
                float: right;
                padding-top: 10px;
            }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
        }

            .weekdays li {
                display: inline-block;
                width: 12%;
                color: #666;
                text-align: center;
            }

        .days {
            padding: 10px 0;
            background: #eee;
            margin: 0;
        }

            .days li {
                list-style-type: none;
                display: inline-block;
                width: 12%;
                text-align: center;
                margin-bottom: 5px;
                font-size: 12px;
                color: #777;
            }

                .days li .active {
                    padding: 5px;
                    background: #ab3587;
                    color: white !important
                }
    </style>
</head>

<div style="width: 50%; display:block; float:left">
    <div class="text-center">

        <h3 class="display-4">Upcoming Appointment</h3>
    </div>
    <table class="table">
        <tr>
            <th>Date :</th>
            <td>
                @Model.Appointment.First().AppointmentDate.Value.ToString("dddd, dd MMMM yyyy")
            </td>
        </tr>
        <tr>
            <th>Time :</th>
            <td>
                @Model.Appointment.First().AppointmentTime
            </td>
        </tr>
        <tr>
            <th>Beautician On Duty: </th>
            <td>
                <a asp-page="./Beauticians/Details" asp-route-id="@Model.Appointment.First().BeauticianID">
                    @Model.Appointment.First().Beautician.Name
                </a>

            </td>
        </tr>
        <tr>
            <th>Customer Name: </th>
            <td>
                <a asp-page="./Customers/Details" asp-route-id="@Model.Appointment.First().CustomerID">

                    @Model.Appointment.First().Customer.Name
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="calander" style="width:45%; display:block; float:left; margin-left:5%">
    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                August<br>
                <span style="font-size:18px">2019</span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li><span class="active">10</span></li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>
</div>


@* !!!!!!!!!!!!!!!!!!!!!!!! put photo here!!!!!!!!!!!!!!!!!!!!!!!! *@
<div class="text-center">
    <h3 class="display-4">Our Packages</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Package Name
                </th>
                <th>
                    Treatments Included
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Packages)
            {
                <tr>
                    <td>@item.PackageName - (RM @item.Price)</td>
                    <td>
                        @foreach (var treats in item.PackageTreatments)
                        {
                            @treats.Treatment.Name<span>, </span>

                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

